image: fpco/stack-build:latest

before_script:
  - apt-get update -qq && apt-get -y install xz-utils make graphviz
  - git submodule update --init --recursive
  - stack setup
  - stack update

cache:
  # Enable per branch caching
  key: ${CI_COMMIT_REF_SLUG}
  paths:
  - .stack
  - .stack-work
  - target

stages:
  - dependencies
  - build
  - test

stack-dependencies:
  stage: dependencies
  script:
    - stack test --no-terminal --fast --install-ghc --only-dependencies -j1

stack-build:
  stage: build
  script:
    - stack build --no-terminal --fast -j1

stack-test:
  stage: test
  script:
    - stack test --fast -j1 sturdy-wasm
