**/dist/
.stack-work
*.iml
/out
/.idea
.DS_Store
cabal.config
*.cabal
cabal.project.local
.ghc.environment.*
*.class
*.java.dep
scheme/*.csv
scheme/graph_files/*.png
scheme/graph_files/gabriel/*.png
scheme/graph_files/scala-am/*.png
node_modules/
*.yaml.lock
hie.yaml
